div {
  border:5px solid grey;
  background-color: blue;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;

}
.image {
  align:center;
}
h1 {
  font-family:Verdana;
  color:lightblue;
}
