.yonce {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}

div {
  border-top: 3px double #4682B4;
  border-bottom:3px double grey;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

.name{
  color: #696969;
  font-family: fantasy;
  font-size: 60px;
  margin-top: -.5%;
}

.birthday{
  color: #4682B4;
  font-family: fantasy;
  margin-top: -8%;
  font-size: 20px;
}

.job{
  color: #696969;
  font-family: fantasy;
  margin-top: -2%;
  font-size: 20px;
}

li{
  margin-left: -5%;
  color:#4682B4;
  font-family: fantasy;
}

ul {
 list-style: none;
}
