body {
  font-family: 'helvetica', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.canvas {
  border: 5px dotted hsl(0,10%,90%);
  width: auto;
  height: 50%;
  transform: rotate(45deg);
  background-color: grey

}

#canvas2 {
  border: 2px dotted hsl(0,10%,90%);
  width: auto;
  height: 50%;
  transform: rotate(45deg);
  background-color: grey
  margin-top: 50em;

}
