.name{
 font-family:Poiret One;
 color: #BC8F8F;
 font-size: 25px;
 line-height: 4px;
 border-bottom: dotted 2px;
 width: 7em;
}

canvas {
  border: white 1px solid;
  margin-left: 30%;
}

body{
  background: black;
}
