.canvas {
  border: 1px dashed hsl(0,10%,20%);
  width: 97%;
  height: 100%;
  margin-left: 25%;
}

.canvas2{
  width: 50%;
  height: 60%;
  margin-left: 82%;
  margin-top: -40%;
}

body{
  background: white;
}

.back_nav{
  color:grey;
}

a:hover{
  text-decoration: none;
  color: grey;
}

a:visited{
  color: grey;
  text-decoration: none;
  margin-top: -20%;
}
