.canvas {
  border: 1px dashed hsl(0,10%,75%);
  width: 48%;
  height: 50%;
  margin-left: 25%;
}

body{
  background: white;
}

.back_nav{
  color:grey;
}

a:hover{
  text-decoration: none;
  color: grey;
}

a:visited{
  color: grey;
  text-decoration: none;
  margin-top: -20%;
}
