.name{
  border-top: 3px double #4682B4;
  border-bottom:3px double grey;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

.link{
  border-top: 3px double #4682B4;
  border-bottom:3px double grey;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}
