body {
  background-color: black;
  font-family: 'Droid Sans', arial, serif;
}

.gif{
  align-items: center;
  margin-top: -.5%;
  margin-left: 40%;
}

.header{
  font-size: 20px;
  margin-left: 30%;
  font-family: 'Droid Sans', arial, serif;
  font-size: 35px;
  margin-top: -2.5%;
  color: white;
}

.problems{
  margin-left:32.5%;
  color: white;
}
a:link{
  color:white;
  }
a:visited{
  color: white;
}
a active: none;
