body {
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: hsl(100, 50%, 20%);
}

.gif{
  align-items: center;
  margin-top: -32%;
}

.header{
  align-items: center;
  font-size: 20px;
}

.problems{

}
