body{
  background: lightblue;
}
div{
  margin-left: 10%;
}
canvas{
  height:840px;
  width:1250px;
  border-top: solid black;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  margin-top: -80%;
}


.snowflake{
  color: white;
}
