body{
  background: grey;
}

.name{
  font-family: 'Dancing Script';
  font-size: 12px;
}

.date{
  font-family: 'Dancing Script';
  font-size: 12px;
}

.link1{
  font-family: 'Dancing Script';
  font-size: 12px;
}

.link2{
  font-family: 'Dancing Script';
  font-size: 12px;
}
